.swiper-slide {
    height: 500px;
}

body {
    background: #e2e2e2;
}

.heir-cut {
    width: 1652px;
    height: 927px;
    background: transparent;
    margin: 100px auto;
    position: relative;
}

.heir-left {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 331px);
    border-radius: 100px 0 0 100px;
    padding: 117px 394px 0 108px;
    box-sizing: border-box;
}

.leftSlider {
    height: 693px;
    width: 100%;
}

.heir-right {
    background: #D4BB96;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 662px;
    border-radius: 331px;
    overflow: hidden;
}

.rightSlider {
    height: 927px;
}

.buttons {
    position: absolute;
    z-index: 3;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    right: 216px;
    bottom: 66px;
    border-radius: 100px;
}
